# Python Project

# Police Dataset

In [1]:
import pandas as pd

In [21]:
data = pd.read_csv("/Users/archanaqueen/Desktop/i18n/Python Projects/Police Dataset/shootings_wash_post.csv")

In [22]:
data

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5547,6048,TK TK,2020-08-15,shot,knife,NaN,M,NaN,Denver,CO,False,attack,Not fleeing,False
5548,6042,Thomas Moles,2020-08-16,shot,undetermined,35.0,M,W,Maury County,TN,False,other,Other,False
5549,6043,Jose Manuel Castro,2020-08-16,shot,knife,27.0,M,H,Dos Palos,CA,False,other,Not fleeing,False
5550,6044,Jeffrey Hubbard,2020-08-16,shot,gun,67.0,M,W,Las Vegas,NV,True,other,Not fleeing,False
5551,6045,TK TK,2020-08-16,shot,gun,30.0,M,NaN,Hemet,CA,False,other,Car,False

In [23]:
data.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [24]:
data.shape

(5552, 14)

In [25]:
data.dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
dtype: object

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5552 entries, 0 to 5551
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5552 non-null   int64
 1   name                     5552 non-null   object
 2   date                     5552 non-null   object
 3   manner_of_death          5552 non-null   object
 4   armed                    5339 non-null   object
 5   age                      5307 non-null   float64
 6   gender                   5551 non-null   object
 7   race                     4966 non-null   object
 8   city                     5552 non-null   object
 9   state                    5552 non-null   object
 10  signs_of_mental_illness  5552 non-null   bool
 11  threat_level             5552 non-null   object
 12  flee                     5290 non-null   object
 13  body_camera              5552 non-null   bool
dtypes: bool(2), float64(1), int64(1), object(10)
memory usage: 531.5+ KB

In [27]:
data.columns

Index(['id', 'name', 'date', 'manner_of_death', 'armed', 'age', 'gender',
       'race', 'city', 'state', 'signs_of_mental_illness', 'threat_level',
       'flee', 'body_camera'],
      dtype='object')

# Data Cleaning

# 1) Remove the null values columns

In [28]:
data.isnull()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5547,False,False,False,False,False,True,False,True,False,False,False,False,False,False
5548,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5549,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5550,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5551,False,False,False,False,False,False,False,True,False,False,False,False,False,False

In [29]:
data.isnull().sum()

id                           0
name                         0
date                         0
manner_of_death              0
armed                      213
age                        245
gender                       1
race                       586
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                       262
body_camera                  0
dtype: int64

In [30]:
data['age']

0       53.0
1       47.0
2       23.0
3       32.0
4       39.0
        ...
5547     NaN
5548    35.0
5549    27.0
5550    67.0
5551    30.0
Name: age, Length: 5552, dtype: float64

In [34]:
data.drop(columns = 'age', inplace = True)

In [35]:
data.head()

,id,name,date,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,M,H,Evans,CO,False,attack,Not fleeing,False

In [36]:
data.isnull().sum()

id                           0
name                         0
date                         0
manner_of_death              0
armed                      213
gender                       1
race                       586
city                         0
state                        0
signs_of_mental_illness      0
threat_level                 0
flee                       262
body_camera                  0
dtype: int64

# Filtering

# 2) For shot and Tasered, were attack or other shot and Tasered more often?

In [37]:
data.head()

,id,name,date,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,M,H,Evans,CO,False,attack,Not fleeing,False

In [43]:
data['threat_level'].unique()

array(['attack', 'other', 'undetermined'], dtype=object)

In [38]:
data["manner_of_death"] == "shot"

0        True
1        True
2       False
3        True
4        True
        ...
5547     True
5548     True
5549     True
5550     True
5551     True
Name: manner_of_death, Length: 5552, dtype: bool

In [48]:
data[data["manner_of_death"] == "shot and Tasered"]

,id,name,date,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,M,H,Wichita,KS,False,other,Not fleeing,False
10,19,Patrick Wetter,2015-01-06,shot and Tasered,knife,M,W,Stockton,CA,False,attack,Not fleeing,False
23,45,Salvador Figueroa,2015-01-11,shot and Tasered,gun,M,H,North Las Vegas,NV,False,attack,Foot,False
38,68,Zaki Shinwary,2015-01-16,shot and Tasered,knife,M,O,Fremont,CA,False,other,Not fleeing,False
43,83,Carter Castle,2015-01-18,shot and Tasered,gun,M,W,Gunlock,KY,True,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5424,5939,Brandeis Codde,2020-06-21,shot and Tasered,knife,M,NaN,Milpitas,CA,False,attack,Not fleeing,False
5446,5951,Aloysius Keaton,2020-06-27,shot and Tasered,knife,M,NaN,Little Rock,AR,False,attack,Other,False
5456,5959,Kevan Ruffin,2020-07-02,shot and Tasered,knife,M,B,Sheboygan,WI,True,other,Not fleeing,True
5510,6029,Darrien Walker,2020-07-30,shot and Tasered,sword,M,B,Detroit,MI,False,attack,Not fleeing,False
5515,6018,Adrean Stephenson,2020-08-02,shot and Tasered,knife,F,NaN,Sarasota,FL,True,other,Not fleeing,False

In [41]:
data["manner_of_death"].value_counts()

shot                5275
shot and Tasered     277
Name: manner_of_death, dtype: int64

In [46]:
data[(data["threat_level"] == "attack") | (data["threat_level"] == "other")]

,id,name,date,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5547,6048,TK TK,2020-08-15,shot,knife,M,NaN,Denver,CO,False,attack,Not fleeing,False
5548,6042,Thomas Moles,2020-08-16,shot,undetermined,M,W,Maury County,TN,False,other,Other,False
5549,6043,Jose Manuel Castro,2020-08-16,shot,knife,M,H,Dos Palos,CA,False,other,Not fleeing,False
5550,6044,Jeffrey Hubbard,2020-08-16,shot,gun,M,W,Las Vegas,NV,True,other,Not fleeing,False
5551,6045,TK TK,2020-08-16,shot,gun,M,NaN,Hemet,CA,False,other,Car,False

In [49]:
data[(data["manner_of_death"] == "shot and Tasered") & (data["threat_level"] == "attack") | (data["threat_level"] == "other")]

,id,name,date,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,M,H,Wichita,KS,False,other,Not fleeing,False
8,16,Autumn Steele,2015-01-06,shot,unarmed,F,W,Burlington,IA,False,other,Not fleeing,True
10,19,Patrick Wetter,2015-01-06,shot and Tasered,knife,M,W,Stockton,CA,False,attack,Not fleeing,False
12,22,Hashim Hanif Ibn Abdul-Rasheed,2015-01-07,shot,knife,M,B,Columbus,OH,True,other,Not fleeing,False
23,45,Salvador Figueroa,2015-01-11,shot and Tasered,gun,M,H,North Las Vegas,NV,False,attack,Foot,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5545,6046,Anthony McClain,2020-08-15,shot,gun,M,B,Pasadena,CA,False,other,Foot,False
5548,6042,Thomas Moles,2020-08-16,shot,undetermined,M,W,Maury County,TN,False,other,Other,False
5549,6043,Jose Manuel Castro,2020-08-16,shot,knife,M,H,Dos Palos,CA,False,other,Not fleeing,False
5550,6044,Jeffrey Hubbard,2020-08-16,shot,gun,M,W,Las Vegas,NV,True,other,Not fleeing,False
5551,6045,TK TK,2020-08-16,shot,gun,M,NaN,Hemet,CA,False,other,Car,False

# Groupby

# 3) Does gender affect who gets signs_of_mental_illness?

In [51]:
data.head()

,id,name,date,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,M,H,Evans,CO,False,attack,Not fleeing,False

In [52]:
data["gender"].value_counts()

M    5305
F     246
Name: gender, dtype: int64

In [54]:
data.groupby("gender").signs_of_mental_illness.sum()

gender
F      76
M    1167
Name: signs_of_mental_illness, dtype: int64

In [55]:
data.signs_of_mental_illness.value_counts()

False    4308
True     1244
Name: signs_of_mental_illness, dtype: int64

In [56]:
# Based on this, 1244 times affected on 26-Female and 1167-Male

# Mapping & data-type casting

In [57]:
data.head()

,id,name,date,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,M,H,Evans,CO,False,attack,Not fleeing,False

# Groupby,Describe

# 5) Compare the manner_of_death distributions for each threat_level

In [65]:
data.groupby("threat_level").manner_of_death.describe()

             count unique   top  freq
threat_level
attack        3591      2  shot  3451
other         1714      2  shot  1584
undetermined   247      2  shot   240